:root {
  --color-border: rgba(202, 202, 232, 0.772);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid green; */
}
.calendar__container--full {
  width: 100vw;
}

.calendar--days__container {
  display: flex;
  justify-content: space-evenly;
}

.calendar--dates__container, .calendar--dates__container-full {
  display: flex;
  flex-wrap: wrap;
}

.calendar--dates__container-full {
  height: 80vh;
}

.day-list, .w-dates {
  flex: 1 0 13%;
}
.day-list {
  margin-top: .5rem;
  padding-bottom: 1%;
}
.w-dates {
  padding: 1%;
}

.full-year__container {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: space-evenly;
}

.calendar__container--shrunk {
  width: 30%;
}

.center-text {
  text-align: center;
  margin: 0 auto;
}

.bg-highlight {
  background-color: rgb(255, 95, 95);
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
}

.text-title {
  color: red;
  font-size: 24px;
  margin: 5px;
}

.month-title {
  font-weight: bolder;
  font-size: 250%;
}

.pad-text {
  padding: 5%;
}

.bg-grey {
  background-color: rgba(144, 144, 144, 0.36);
}

.text-light {
  color: rgba(0, 0, 0, 0.350);
}

.border {
  border: 1px solid var(--color-border);
}

.align-end {
  display: flex;
  justify-content: end;
}